nfe/ClientNFe/Uninfe/unicte/WSDL/Homologacao/HMTCteRetRecepcao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

   <wsdl:types>

      <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao">

         <s:element name="cteDadosMsg">

            <s:complexType mixed="true">

               <s:sequence>

                  <s:any/>

               </s:sequence>

            </s:complexType>

         </s:element>

         <s:element name="cteRetRecepcaoResult">

            <s:complexType mixed="true">

               <s:sequence>

                  <s:any/>

               </s:sequence>

            </s:complexType>

         </s:element>

         <s:element name="cteCabecMsg" type="tns:cteCabecMsg"/>

         <s:complexType name="cteCabecMsg">

            <s:sequence>

               <s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string"/>

               <s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string"/>

            </s:sequence>

            <s:anyAttribute/>

         </s:complexType>

      </s:schema>

   </wsdl:types>

   <wsdl:message name="cteRetRecepcaoSoap12In">

      <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg"/>

   </wsdl:message>

   <wsdl:message name="cteRetRecepcaoSoap12Out">

      <wsdl:part element="tns:cteRetRecepcaoResult" name="cteRetRecepcaoResult"/>

   </wsdl:message>

   <wsdl:message name="cteRetRecepcaocteCabecMsg">

      <wsdl:part element="tns:cteCabecMsg" name="cteCabecMsg"/>

   </wsdl:message>

   <wsdl:portType name="CteRetRecepcaoSoap12">

      <wsdl:operation name="cteRetRecepcao">

         <wsdl:input message="tns:cteRetRecepcaoSoap12In"/>

         <wsdl:output message="tns:cteRetRecepcaoSoap12Out"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CteRetRecepcaoSoap12" type="tns:CteRetRecepcaoSoap12">

      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cteRetRecepcao">

         <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao/cteRetRecepcao" style="document"/>

         <wsdl:input>

            <soap12:body use="literal"/>

            <soap12:header message="tns:cteRetRecepcaocteCabecMsg" part="cteCabecMsg" use="literal"/>

         </wsdl:input>

         <wsdl:output>

            <soap12:body use="literal"/>

            <soap12:header message="tns:cteRetRecepcaocteCabecMsg" part="cteCabecMsg" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CteRetRecepcao">

      <wsdl:port binding="tns:CteRetRecepcaoSoap12" name="CteRetRecepcaoSoap12">

         <soap12:address location="https://homologacao.sefaz.mt.gov.br/ctews/services/CteRetRecepcao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
