nfe/ClientNFe/Uninfe/unicte/WSDL/Producao/PMGCteInutilizacao.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteInutilizacao" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteInutilizacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado ao atendimento de solicitações de inutilização de numeração de CT-e.</wsdl:documentation>
  <wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteInutilizacao" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteInutilizacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<s:element name="cteDadosMsg">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="cteInutilizacaoCTResult">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="cteCabecMsg" type="tns:cteCabecMsg" />
			<s:complexType name="cteCabecMsg">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="cUF" type="s:string" />
					<s:element maxOccurs="1" minOccurs="0" name="versaoDados" type="s:string" />
				</s:sequence>
				<s:anyAttribute />
			</s:complexType>
		</s:schema>
  </wsdl:types>
  <wsdl:message name="cteInutilizacaoCTcteCabecMsg">
    <wsdl:part element="tns:cteCabecMsg" name="cteCabecMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cteInutilizacaoCTSoap12Out">
    <wsdl:part element="tns:cteInutilizacaoCTResult" name="cteInutilizacaoCTResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cteInutilizacaoCTSoap12In">
    <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CteInutilizacaoSoap12">
    <wsdl:operation name="cteInutilizacaoCT">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inutilização de numeração de CT-e</wsdl:documentation>
      <wsdl:input message="tns:cteInutilizacaoCTSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:cteInutilizacaoCTSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CteInutilizacaoSoap12" type="tns:CteInutilizacaoSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteInutilizacaoCT">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteInutilizacao/cteInutilizacaoCT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteInutilizacaoCTcteCabecMsg" part="cteCabecMsg" use="literal">
        </soap12:header>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteInutilizacaoCTcteCabecMsg" part="cteCabecMsg" use="literal">
        </soap12:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CteInutilizacao">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado ao atendimento de solicitações de inutilização de numeração de CT-e.</wsdl:documentation>
    <wsdl:port binding="tns:CteInutilizacaoSoap12" name="CteInutilizacaoSoap12">
      <soap12:address location="https://cte.fazenda.mg.gov.br/cte/services/CteInutilizacao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>