nfe/ClientNFe/Uninfe/unicte/WSDL/Producao/PSPCteCancelamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado ao atendimento de solicitações de cancelamento de CT-e.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento">
      <s:element name="cteDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteCancelamentoCTResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteCabecMsg" type="tns:cteCabecMsg" />
      <s:complexType name="cteCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cteCancelamentoCTSoap12In">
    <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg" />
  </wsdl:message>
  <wsdl:message name="cteCancelamentoCTSoap12Out">
    <wsdl:part name="cteCancelamentoCTResult" element="tns:cteCancelamentoCTResult" />
  </wsdl:message>
  <wsdl:message name="cteCancelamentoCTcteCabecMsg">
    <wsdl:part name="cteCabecMsg" element="tns:cteCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="CteCancelamentoSoap12">
    <wsdl:operation name="cteCancelamentoCT">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelamento de CT-e</wsdl:documentation>
      <wsdl:input message="tns:cteCancelamentoCTSoap12In" />
      <wsdl:output message="tns:cteCancelamentoCTSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CteCancelamentoSoap12" type="tns:CteCancelamentoSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteCancelamentoCT">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteCancelamento/cteCancelamentoCT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteCancelamentoCTcteCabecMsg" part="cteCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:cteCancelamentoCTcteCabecMsg" part="cteCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CteCancelamento">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado ao atendimento de solicitações de cancelamento de CT-e.</wsdl:documentation>
    <wsdl:port name="CteCancelamentoSoap12" binding="tns:CteCancelamentoSoap12">
      <soap12:address location="https://nfe.fazenda.sp.gov.br/cteWEB/services/cteCancelamento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>