sintegra/SintegraClient/SintegraClient/Service References/SintegraReference/ServicoSintegra2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SintegraService/ServicoSintegra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SintegraService.Model" />
  <xs:element name="selectEmpresaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectEmpresaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectEmpresaIdResult" nillable="true" type="q1:EmpresaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNFeCabecalho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFim" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="nfeCabecalho" nillable="true" type="q2:NFeCabecalhoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNFeCabecalhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectNFeCabecalhoResult" nillable="true" type="q3:ArrayOfNFeCabecalhoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNFeCabecalhoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectNFeCabecalhoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectNFeCabecalhoIdResult" nillable="true" type="q4:NFeCabecalhoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewSpedNfeDetalhe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="viewSpedNfeDetalhe" nillable="true" type="q5:ViewSpedNfeDetalheDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewSpedNfeDetalheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectViewSpedNfeDetalheResult" nillable="true" type="q6:ArrayOfViewSpedNfeDetalheDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewSpedNfeDetalhePagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeiroResultado" type="xs:int" />
        <xs:element minOccurs="0" name="quantidadeResultados" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="viewSpedNfeDetalhe" nillable="true" type="q7:ViewSpedNfeDetalheDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectViewSpedNfeDetalhePaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectViewSpedNfeDetalhePaginaResult" nillable="true" type="q8:ArrayOfViewSpedNfeDetalheDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectUsuarioResult" nillable="true" type="q9:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="viewControleAcesso" nillable="true" type="q10:ViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectControleAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SintegraService.Model" minOccurs="0" name="selectControleAcessoResult" nillable="true" type="q11:ArrayOfViewControleAcessoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>